@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

body {
	font-family: 'Poppins';
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
